mixin select(items, labelText, prop=true, className)
  .group.group-select
    select(class=className)
      if prop
        option
      each val, index in items
        option(value=index)= val
    if labelText
      label= labelText

mixin list(items)
  ul
    each val, index in items
      li= val

mixin menu(items, className)
  ul(class=className)
    each val, index in items.links
      li: a(href=val + '.html')= items.titles[index]

mixin input(labelText, inputClass = '')
  .group
    input(class=inputClass type='text' required)
    span.highlight
    span.bar
    label= labelText

mixin textarea(labelText, className = '')
  .group.textare-group
    label= labelText
    textarea

mixin file(labelText, inputClass, fileTypes, noticeText)
  .group
    label(class='file-input')= labelText
      img(src=imgPath + 'upload.png')
      input(class=inputClass type='file' accept=fileTypes)
    div.file-input-notice= noticeText

mixin header-cabinet(theme='')
  .header-cabinet
    .header-cabinet__key
      img(src=imgPath + 'key' + (theme ? ('-' + theme) : '') + '.png')
    .header-cabinet__link
      a(href='') Личный кабинет

mixin cargo-status-check(flexible)
  .cargo-status-check-header
    .truck
    .title(class=flexible ? 'csc-title' : '')
      span Статус груза
    form(class='form' class=flexible ? 'csc-form' : '')
      .input
        +input('Номер накладной', flexible ? 'csc-input' : '')
      button(class='cargo-status-check-header-button' class=flexible ? 'csc-button' : '')

mixin calc()
  .calc
    .calc-button.drop-button
    .box.calc-box
      .box-title Тарифный калькулятор
      .calc-progress
        .calc-progress-point.calc-progress-from
        .calc-progress-between
        .calc-progress-point.calc-progress-to
      form.calc-form
        +select(cities, 'Откуда', true)
        +select(cities, 'Куда', true)
        +input('Вес груза в кг')
        +submit-button('Рассчитать')
      .clear

mixin breadcrumbs(items)
  ul(class='breadcrumbs inline-block-ul')
    li: a(href='/') Главная
    each val, index in items
      if items.length == index + 1
        li= val
      else
        li: a(href='/')= val

mixin submit-button(text)
  .group
    button(class='button button_primary')= text

mixin radio(title, items, name, position)
  div(class='group radio-group' class=position ? position : 'radio-group_vertical')
    .radio-title= title
    each val, index in items
      .radio-input
        input(type='radio' name=name id=name + '-' + index)
        label(for=name + '-' + index)=val

mixin date(title)
  .datepicker-group
    .datepicker-title= title
    .datepicker-group-inner
      input.datepicker-input
      .group
        input(class='date-day' required)
        label День
      .group
        input(class='date-month' required)
        label Месяц
      .group
        input(class='date-year' required)
        label Год
      .clear
    img(class='date-pick' src=imgPath + 'calendar.png')
    .clear