section.thanks-section
  .container
    .section-title Благодарственные письма
      .thanks-slider-arrows

    .thanks-slider
      .thanks-slide
        .thanks-doc
          img(src=imgPath + 'thanks-doc.png')

          .thanks-doc-info
            .thanks-doc-info__title Название компании
            .thanks-doc-info__description Благодарность от компании за 5 лет успешного сотрудничества и приложенных усилий по работе
            .thanks-doc-info__link: a(class='button button_default' href=imgPath + 'thanks-doc.png') Увеличить
      .thanks-slide
        .thanks-doc
          img(src=imgPath + 'thanks-doc.png')

          .thanks-doc-info
            .thanks-doc-info__title Название компании
            .thanks-doc-info__description Благодарность от компании за 5 лет успешного сотрудничества и приложенных усилий по работе
            .thanks-doc-info__link: a(class='button button_default' href=imgPath + 'thanks-doc.png') Увеличить
      .thanks-slide
        .thanks-doc
          img(src=imgPath + 'thanks-doc.png')

          .thanks-doc-info
            .thanks-doc-info__title Название компании
            .thanks-doc-info__description Благодарность от компании за 5 лет успешного сотрудничества и приложенных усилий по работе
            .thanks-doc-info__link: a(class='button button_default' href=imgPath + 'thanks-doc.png') Увеличить
      .thanks-slide
        .thanks-doc
          img(src=imgPath + 'thanks-doc.png')

          .thanks-doc-info
            .thanks-doc-info__title Название компании
            .thanks-doc-info__description Благодарность от компании за 5 лет успешного сотрудничества и приложенных усилий по работе
            .thanks-doc-info__link: a(class='button button_default' href=imgPath + 'thanks-doc.png') Увеличить
      .thanks-slide
        .thanks-doc
          img(src=imgPath + 'thanks-doc.png')

          .thanks-doc-info
            .thanks-doc-info__title Название компании
            .thanks-doc-info__description Благодарность от компании за 5 лет успешного сотрудничества и приложенных усилий по работе
            .thanks-doc-info__link: a(class='button button_default' href=imgPath + 'thanks-doc.png') Увеличить