- var pageTitle = 'О компании'
include includes/header-all

section
  .container
    +breadcrumbs([pageTitle])

    .section-title=pageTitle

    .box
      .content
        p Наша компания в Республике Казахстан оказывает услуги по доставке грузов с 2007 года.
        p Мы можем доставить груз любого характера и объема по нужному направлению любым видом транспорта.
        p Главной ценностью нашей компании являются наши клиенты и их интересы.
        p Высокое качество услуг по приемлемым ценам является основным приоритетом в нашей работе.
        p Девиз нашей компании – Always Best Solutions - Всегда Лучшие Решения.
        p Это означает, что мы всегда разрабатываем и предлагаем нашим клиентам наиболее оптимальные решения по доставке грузов (в соотношении цена / скорость / качество).

        p.p-header Наши основные услуги:

        +list(['доставка грузов из России и Белоруссии во все регионы Казахстана (всеми видами транспорта)', 'доставка грузов из любой точки Европы во все регионы Казахстана и Средней Азии (всеми видами транспорта)', 'доставка грузов по Казахстану (всеми видами транспорта)', 'доставка грузов по России и странам СНГ (всеми видами транспорта)', 'доставка грузов из Китая, стран Центральной и Восточной Азии (всеми видами транспорта)', 'доставка грузов из США, Канады и других стран Северной и Южной Америк', 'доставка грузов из стран Ближнего Востока (всеми видами транспорта)', 'доставка грузов из Украины рефрижератором во все регионы Казахстана (всеми видами транспорта)', 'доставка грузов по городу Алматы', 'ответ.хранение грузов в г.Алматы'])

        p.p-header Наши преимущества

        .advantages
          .advantage
            .advantage-image: img(src=imgPath + 'adv-shipping.png')

            .advantage-title Минимальные сроки доставки

            .advantage-description
              p Мы понимаем, насколько важен вопрос сроков в любом бизнесе. Поэтому, мы разработали такие схемы грузоперевозок, чтобы максимально сократить время доставки груза в пути. Весь процесс грузоперевозки находится под постоянным контролем наших высокопрофессиональных специалистов. Фиксированное время доставки позволяет нашим клиентам планировать сроки отправления и получения грузов.

          .advantage
            .advantage-image: img(src=imgPath + 'adv-payment.png')

            .advantage-title Гибкая ценовая политика

            .advantage-description
              p Гибкая ценовая политика позволяет нам находить общий язык со всеми заказчиками, независимо от объемов грузоперевозок и прочих особенностей.
              p Мы предлагаем быстрый, надежный и доступный по цене сервис.
              p Для постоянных клиентов действует система скидок.

          .advantage
            .advantage-image: img(src=imgPath + 'adv-agency.png')

            .advantage-title Широкая агентская сеть

            .advantage-description
              p Обширная агентская сеть по всему миру позволяет нам оперативно и качественно решать вопросы по забору, обработке и доставке грузов по различным направлениям.

          .advantage
            .advantage-image: img(src=imgPath + 'adv-support.png')

            .advantage-title Индивидуальный подход к каждому клиенту

            .advantage-description
              p Каждый клиент особенно важен для нас, поэтому мы  всегда стараемся понять нужды и потребности каждого нашего заказчика, и подстроиться под них.

section
  .container
    .section-title Наши награды

    .awards
      img(src=imgPath + 'award-1.png')
      img(src=imgPath + 'award-2.png')
      img(src=imgPath + 'award-3.png')
      img(src=imgPath + 'award-4.png')
      img(src=imgPath + 'award-5.png')

include includes/thanks-docs

include includes/footer