- var pageTitle = 'Главная'
include includes/header-all

.header-slider
  .slide-storage
    .container
      .slide-storage-title Предлагаем услугу

      .slide-storage-description
        span.slide-storage-highlight Хранение грузов
        |
        | и
        br
        | ТМЦ на нашем складе -
        br
        span.slide-storage-highlight от 70 ТНГ
        |
        | за 1 м3

  .slide-storage
    .container
      .slide-storage-title Предлагаем услугу

      .slide-storage-description
        span.slide-storage-highlight Хранение грузов
        |
        | и
        br
        | ТМЦ на нашем складе -
        br
        span.slide-storage-highlight от 70 ТНГ
        |
        | за 1 м3

section(class='section our-services-section')
  .container
    .section-title Наши услуги

    include includes/services

section.about-section
  .container
    .box
      .section-title О компании

      .about-info
        .about-short
          p Наша компания в Республике Казахстан оказывает услуги по доставке грузов с 2007 года.
          p Мы можем доставить груз любого характера и объема по нужному направлению любым видом транспорта.
          p Главной ценностью нашей компании являются наши клиенты и их интересы.
          p Высокое качество услуг по приемлемым ценам является основным приоритетом в нашей работе.
          p Девиз нашей компании – <b>Always Best Solutions - Всегда Лучшие Решения</b>.
          p Это означает, что мы всегда разрабатываем и предлагаем нашим клиентам наиболее оптимальные решения по доставке грузов (в соотношении цена / скорость / качество).

          .about-more
            a(class='button button_default') Читать подробнее

        .about-advantages
          ul
            li
              img(src=imgPath + 'adv-shipping.png')
              div Минимальные сроки доставки
            li
              img(src=imgPath + 'adv-payment.png')
              div Гибкая ценовая политика
            li
              img(src=imgPath + 'adv-agency.png')
              div Широкая агентская сеть
            li
              img(src=imgPath + 'adv-support.png')
              div Индивидуальный подход к каждому клиенту

        .clear

      .about-countries
        .about-countries__title Мы работаем в таких странах

        ul.ac-list
          li
            img(class='ac-flag' src=imgPath + 'flag-by.png')
            .ac-title Белорусия
            .ac-description Доставка грузов из Белорусии
            a(class='button_primary button__next ac-link' href='country-delivery.html')
          li
            img(class='ac-flag' src=imgPath + 'flag-by.png')
            .ac-title Белорусия
            .ac-description Доставка грузов из Белорусии
            a(class='button_primary button__next ac-link')
          li
            img(class='ac-flag' src=imgPath + 'flag-by.png')
            .ac-title Белорусия
            .ac-description Доставка грузов из Белорусии
            a(class='button_primary button__next ac-link')
          li
            img(class='ac-flag' src=imgPath + 'flag-by.png')
            .ac-title Белорусия
            .ac-description Доставка грузов из Белорусии
            a(class='button_primary button__next ac-link')
          li
            img(class='ac-flag' src=imgPath + 'flag-by.png')
            .ac-title Белорусия
            .ac-description Доставка грузов из Белорусии
            a(class='button_primary button__next ac-link')
          li
            img(class='ac-flag' src=imgPath + 'flag-by.png')
            .ac-title Белорусия
            .ac-description Доставка грузов из Белорусии
            a(class='button_primary button__next ac-link')

include includes/thanks-docs

include includes/footer